{% extends 'app/layout/commonhead3.html' %}
{% block content %}
{% load static %}

{% if felhasznalo.is_authenticated %}

            <div class="rightbox">
                <div class="profile">
                    <h1>Személyes adatok</h1>
                    <h2>Felhasználó név</h2>
                    <p>{{felhasznalo.username}}</p>
                    <h2>Teljes név</h2>
                    <p>{{felhasznalo.first_name}} {{felhasznalo.last_name}}<button class="btn">Change</button></p>
                    <h2>Email</h2>
                    <p>{{felhasznalo.email}}<button class="btn">Change</button></p>
                    <h2>Jelszó</h2>
                    <p>*******<button class="btn">Change</button></p>
                </div>
            </div>
            </div>
    </section>
{% else %}
<div class="rightbox">
    <div class="profile">
        <h1>Nem nem vagy bejelentezeve! Kérlek jelentkbe, vagy hozz lére egy profilt!</h1>
        <h2>Bejelentkezés</h2>
        <a href="{% url 'bejelentkezes_auth' %}">Bejelentkezés</a>
        <h2>Regisztráció</h2>
        {% comment %} Kell majd egy rendes regisztrációt írni! {% endcomment %}
        <a href="{% url 'Regisztral' %}">Regisztrálás</a>
    </div>
</div>
</div>
</section>
    {% endif %}
{% endblock %}