{% extends 'app/layout/commonhead3.html' %}
{% block content %}
{% load static %}

<!-- bejelentkezetett e -->
{% if felhasznalo.is_authenticated %}
<!-- van e meghírdetett munkája -->
{% if munka is not None %}
<div class="rightbox">
    <div class="profile">
        <h1>Meghirdetett Állásaim</h1>
        <!-- Előzmény -->
        <!-- for ciklus ami kiírja a meghírdetett munkákat -->
        <table>
            <tr>
                <th>
                    <i class="fa fa-arrow-left" id="lapozoVissza" aria-hidden="true"></i>
                </th>
                <th>
                    <i class="fa fa-arrow-right" id="lapozoElore" aria-hidden="true"></i>
                </th>
            </tr>
        </table>
        <div id="mindenMunka">
        {% for i in munka %}
        <div class="profile munka_{{i.id}} munkaMegjl" id="">
            <h3>Munka neve: <u id="">{{i.nev}}</u></h3>
            <h3>Helye: </h3>
            <p>{{i.helye}}</p>
            <h3>Bér (minimum -> bár maximum):</h3>
            <p>{{i.berMin}} -> {{i.berMax}}</p>
            <h3>Munka kezdése: </h3>
            <p>{{i.munkaKezd}}</p>
            <h3>Megtekintés: </h3>
            <p>{{i.katt}}</p>
            <a href="{% url 'Jelentkezo_Per_Munka' i.id%}"><h3>Jelentkezők megtekintése</h3></a>
            <br>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
</div>
</div>
</section>
{% else %}
<div class="rightbox">
    <div class="profile">
        <h1>Meghirdetett Állásaim</h1>
        <h2>Egyenlőre nem hirdettél meg semmilyen munkát...</h2>
    </div>
</div>
</div>
</section>
{% endif %}
{% else %}
<div class="rightbox">
    <div class="profile">
        <h1>Nem nem vagy bejelentezeve! Kérlek jelentkbe, vagy hozz lére egy profilt!</h1>
        <h2>Bejelentkezés</h2>
        <a href="{% url 'bejelentkezes_auth' %}">Bejelentkezés</a>
        <h2>Regisztráció</h2>
        {% comment %} Kell majd egy rendes regisztrációt írni! {% endcomment %}
        <a href="{% url 'tesztRegisztral' %}">Regisztrálás</a>
    </div>
</div>
</div>
</section>
{% endif %}
{% endblock %}