{% extends 'app/layout/commonhead1.html' %}
{% block content %}
{% load static %}
<!----about us content---->         

<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>Magyarország legnagyobb alkalmi állás keresője</h1>
            <p>Mindannyian tudjuk jól, hogy sokszor jó lenne kipróbálni más munkákat, és abban tapasztalatot gyűjteni. Célunk főleg fiataloknak, vagy olyan embereknek segíteni akik készek plusz munkákat vállani munkahelyük avagy tanulmányaik mellé, de nem találnak semmilyen megoldást, hiszen minden állás hírdető oldalon főállásban tudnak elhelyezkedni végzettséggel a kézben! Ez az oldal összegyűjtötte az összes alaklami állást, melyek nem kérnek végzettséget, és mellette rengeteg időd marad arra amire szertenéd fordítani!</p>

            {% if felhasznalo.is_authenticated %}
            <a href="{% url 'Munkak' %}" class="hero-btn red-btn">ÁLLÁS KERESÉSE</a>
            {% else %}
            <a href="{% url 'MunkaBemutato' %}" class="hero-btn red-btn">ÁLLÁS KERESÉSE</a>
            {% endif %}
        </div>
        <div class="about-col">
            <img src="images/about.jpg" alt="Rólunk" title="Rólunk">
        </div>
    </div>
</section>

{% endblock %}