{% extends 'app/layout/commonhead0.html' %}
{% block content %}
{% load static %}
    <section class="sub-header">
        <nav>  
            <a href="index.html"><img src="{% static 'logo.png' %}" alt="logo" title="logo"></a>
            <div class="nav-links white" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{% url 'Kezdolap' %}">HOME</a></li>
                    <li><a href="{% url 'Rolunk' %}">RÓLUNK</a></li>
                    <li><a href="{% url 'Munkak' %}">ÁLLÁSOK</a></li>
                    <li><a href="{% url 'Profil' %}">PROFILOM<i class="fa-user fa-color"></li></a></li><!----Itt még a icon nem jeleníti meg, illetve a linket beállítottam a saját módszerem alapján----> 
                </ul>
            </div>
            <i class="fa fa-bars"  onclick="showMenu()"></i>
        </nav>
        <h1>Elérhetőségeink</h1>
    </section>

<!----contact--->         

<section class="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2698.2507531258198!2d19.154923915393066!3d47.44605130704843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741c2f6c21c302d%3A0xd53cf5b1747222d8!2sBGSZC%20Pestszentl%C5%91rinci%20Technikum!5e0!3m2!1shu!2shu!4v1675173451051!5m2!1shu!2shu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<section class="contact-us">
    <div class="row">
        <div class="contact-col">
            <div>
                <i class="fa fa-home"></i>
                <span>
                    <h5>XYZ út, ABC épület</h5>
                    <p>Budapest, Magyarország</p>
                </span>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <span>
                    <h5>06 70 700 7000</h5>
                    <p>Hétfőtől Szombatig, 10:00 - 22:00</p>
                </span>
            </div>
            <div>
                <i class="fa fa-envelope-o"></i>
                <span>
                    <h5>info@anyadat.com</h5>
                    <p>Küldjön email-t az email címünkre</p>
                </span>
            </div>
        </div>
        <div class="contact-col">
            <form action="form-handler.php" method="post">
                <input type="text" name="name" placeholder="Írja be a nevét" required>
                <input type="email" name="email" placeholder="Írja be az email címét" required>
                <input type="text" name="subject" placeholder="Írja be a jelenlegi foglalkozását" required>
                <textarea  rows="8" name="message" placeholder="Üzenet írása" required></textarea>
                <button type="submit" class="hero-btn red-btn">Üzenet küldése</button>
            </form> 
        </div>
    </div>
    </div>
</section>

<!----Footer---->

<section class="footer" id="footer">
    <h4>Közösségi Platformjaink</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas officia, hic quibusdam mollitia praesentium ut, <br> aperiam aliquam obcaecati error unde labore doloribus necessitatibus quis, a eos iusto facere. Dolores, sapiente.</p>    
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
</section>

{% comment %} <!----Javascript for toggle menu-->
    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu()
        {
          navLinks.style.right = "0";  
        }
        function hideMenu()
        {
            navLinks.style.right = "-200px";
        }
    </script>

</body>
</html> {% endcomment %}

{% endblock %}