{% extends 'app/layout/commonhead1.html' %}
{% block content %}
{% load static %}
<!----contact--->

<section class="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2698.2507531258198!2d19.154923915393066!3d47.44605130704843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741c2f6c21c302d%3A0xd53cf5b1747222d8!2sBGSZC%20Pestszentl%C5%91rinci%20Technikum!5e0!3m2!1shu!2shu!4v1675173451051!5m2!1shu!2shu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<section class="contact-us">
        <div class="contact-col">
            <div>
                <i class="fa fa-home"></i>
                <span>
                    <h5>XYZ út, ABC épület</h5>
                    <p>Budapest, Magyarország</p>
                </span>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <span>
                    <h5>06 70 700 7000</h5>
                    <p>Hétfőtől Szombatig, 10:00 - 22:00</p>
                </span>
            </div>
            <div>
                <i class="fa fa-envelope-o"></i>
                <span>
                    <h5>info@alkalomadtan.com</h5>
                    <p>Küldjön email-t az email címünkre</p>
                </span>
            </div>
        </div>
</section>

{% endblock %}