{% extends 'app/layout/commonhead1.html' %}
{% block content %}
{% load static %}
        <div class="text-box">
            <h1><span class="auto-type"></span></h1>
            <h1><span class="auto-type2"></span></h1>
            <p>Fiatal vagy és csak nyárra keresel munkát? Netán másodállást keresel fizetés kiegészítésnek? <br> Ezen az oldalon megtalálod!</p>
            <a href="{% url 'Regisztral' %}" class="hero-btn">Regisztráljon most</a>
        </div>
    </section>


    <!--- Jobs----->
    <section class="jobs">
        <h1>Több mint <span class="num" num="1000">00</span>+ állás</h1>
        <p>Naponta 10 meghirdetett állás!</p>
        <div class="row">
            <div class="jobs-col">
                <h3>Vendéglátás</h3>
                <p>Szeretnél csak rendezvényeken, fesztiválokon, piacokon dolgozni mint pultos, szakács vagy pincér? Ezen az oldalon kapkodnak ezekért a szakmákért hírdetőink!</p>
            </div>
            <div class="jobs-col">
                <h3>Magánszemélyek</h3>
                <p>Igen, jól olvastad! Magánszemélyként is megtudsz hirdetni állást! Esetleg a kertedben lévő fádat akarod kivágni? Adj fel hírdetést és garantáltan kivágják a fádat annélkül, hogy neked hozzá kellene érni a baltához!</p>
            </div>
            <div class="jobs-col">
                <h3>Szállítás</h3>
                <p>Netán van jogsid? És eleged van, hogy csak pénzt buksz az autózásoddal? Itt a megoldás! Rengeteg magánszemély nem szeret várni a taxira és utálja a tömegközlekedést! És itt hirdeti meg napokkal előbb hova akar menni! Csapj le rá gyorsan és legyél te a sofőr!</p>
            </div>
        </div>
    </section>

<!---- Places -->
    <section class="place">
        <h1>Helyszínek</h1>
        <p>Magyarország legnagyobb városaiban a legtöbb lehetőség.</p>
        <div class="row">
            <div class="place-col">
                <img src="{% static 'images/debrecen.jpg' %}" alt="Debrecen" title="Debrecen">
                <div class="layer">
                    <h3>DEBRECEN</h3>
                </div>
            </div>
            <div class="place-col">
                <img src="{% static 'images/budapest.jpg' %}" alt="Budapest" title="Budapest">
                <div class="layer">
                    <h3>BUDAPEST</h3>
                </div>
            </div>
            <div class="place-col">
                <img src="{% static 'images/siófok.jpg' %}" alt="Siófok" title="Siófok">
                <div class="layer">
                    <h3>SIÓFOK</h3>
                </div>
            </div>
        </div>
    </section>

    <!--- Employers -->

    <section class="employers">
       <h1>Amit a Munkáltatók Garantálnak</h1>
        <div class="row">
            <div class="employers-col">
                <img src="{% static 'images/rugalmasság.jpg' %}" alt="Rugalmasság" title="Rugalmasság">
                <h3>Rugalmasság</h3>
                <p>Egy héten csak kétszer érsz rá dolgozni egyetem mellett? Semmi gond, hirdetőink rugalmasan állnak a tanulmányaid és munkaidődhöz! Te mondod mikor akarsz menni, és hány napot egy héten! Ugye milyen jól hangzik?</p>
            </div>
            <div class="employers-col">
                <img src="{% static 'images/kézfogás.jpg' %}" alt="Kézfogás" title="Kézfogás">
                <h3>Megbízhatóság</h3>
                <p>Mivel alkalmi munkáról van szó, nem sokan bíznak meg egymásban, de ezek a meghirdetett munkák valósak és léteznek, ezeket mi és hirdetőink garantálják!</p>
            </div>
            <div class="employers-col">
                <img src="{% static 'images/érvényesség.jpg' %}" alt="Érvényesség" title="Érvényesség">
                <h3>Érvényesség</h3>
                <p>Ha már megbízhatóság, akkor érvenyesség is kéz a kézben jár! Kollégáink a folyamatosan ellenőrzik a fiókok érvényességét, és hírdetéseink komolyságát!</p>
            </div>
        </div>
    
    </section>


<!---Comments-->

<section class="comments">
    <h1>Vélemények Rólunk</h1>
    <div class="row">
        <div class="comments-col">
            <img src="{% static 'images/user1.jpg' %}" alt="user" title="user">
            <div>
                <p>Nagyon jó kis oldal! Sokkal több embert tudok megszólítani, mint facebookon vagy más social media platformokon. Meleg szívvel ajánlom mindenkinek!</p>
                <h3>Kovács Krisztina</h3>
                <h5>Vállalkozó</h5>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
        <div class="comments-col">
            <img src="{% static 'images/user2.jpg' %}" alt="user2" title="user2">
            <div>
                <p>Először baromságnak tartottam az oldalt, mert sok hasonló ilyen témával foglalkozó oldal is van! De tévedtem, mert itt a fesztiválos munkáimat könnyebben megtudom hírdetni, és a fiatalokat jobban eltudom érni hisz ez a korosztály akit megcélzok!</p>
                <h3>Bánfy Lajos</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>
    </div>
</section>


<section class="comments">
    <h1>Vélemény a meghirdetett munkákról</h1>
    <p>Természetesen nekünk a munkavállalóink visszajelzése is fontos!</p>
    <div class="row">
        <div class="comments-col">
            <img src="{% static 'images/user3.jpg' %}" alt="user3" title="user3">
            <div>
                <p>Nagyon felhasználó barát, és sokkal több munka lehetőség van, mint bármely más oldalon!</p>
                <h3>Benkő Csilla</h3>
                <h5>Egyetemi hallgató</h5>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
        <div class="comments-col">
            <img src="{% static 'images/user4.jpg' %}" alt="user4" title="user4">
            <div>
                <p>Rengeteg munkában tudtam így tapasztalatot szerezni, amire nekem rengeteg szükségem volt! Így már tudom miben tudom elképzelni magam a jövőben. Ajánlom rengeteg gimnazistának az oldalt!</p>
                <h3>Tóth Gergő</h3>
                <h5>Munka vállaló</h5>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>
    </div>
</section>


<!----Call To Action---->

<section class="cta">
    <h1>Beadom az Önéletrajzom</h1>
    <a href="{% url 'Regisztral' %}" class="hero-btn">Regisztrálok</a>
</section>

{% endblock %}