{% extends 'app/layout/commonhead0.html' %}
{% block content %}
{% load static %}
<body>
    <section class="sub-header">
        <nav>  
            <a href="index.html"><img src="{% static 'logo.png' %}" alt="logo" title="logo"></a>
            <div class="nav-links white" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{% url 'Kezdolap' %}">HOME</a></li>
                    <li><a href="{% url 'Rolunk' %}">RÓLUNK</a></li>
                    <li><a href="{% url 'Munkak' %}">ÁLLÁSOK</a></li>
                    <li><a href="{% url 'Profil' %}">PROFILOM<i class="fa-user fa-color"></li></a></li><!----Itt még a icon nem jeleníti meg, illetve a linket beállítottam a saját módszerem alapján----> 
                </ul>
            </div>
            <i class="fa fa-bars"  onclick="showMenu()"></i>
        </nav>
        <h1>Állások</h1>
    </section>

<!----Jelentkezés---->         

<section class="jobs">
    <h1>Jelentkezés</h1>
        <div class="jobs-col job-apply"><!----Ez egy darab hirdetés "doboz"----> 
            <h3>{{munka.nev}}</h3> 
            <div class="row"><!--ez fogja nekem elrendezni egy sorba a hirdetőről az infókat, a leírást bért, és a jelentkezés dobozt ez a row div-->
                <div class="description"><!---ez egy ilyen "fehér" buboréknak felel meg-->
                    <h4>Hírdető neve:</h4><!--infó rész-->
                    <span>
                        {{munka.publikalo}}
                    </span>
                    <br><br><br><br><!---sortöréssel oldottam meg az elválasztásokat-->
                    {% comment %} <h4>Hírdető cég neve(ha van):</h4>
                    <span>
                        RendezvenyekInformation.kft
                    </span>
                    <br><br><br><br> {% endcomment %}
                    <h4>Munka helyszíne:</h4>
                    <span>
                        {{munka.helye}}
                    </span>
                    <br><br><br><br>
                    <h4>Munka időpontja:</h4>
                    <span>
                        {{munka.munkaKezd}}
                    </span>
                </div>
                <div class="description">
                    <h4>Leírás:</h4>
                    <span>
                        {{munka.leiras}}
                    </span>
                    <br><br><br><br>
                    <h4>Bér:</h4>
                    <span>
                        {% if munka.berMax is None %}
                        {{munka.berMin}} HUF
                        {% else %}
                        {{munka.berMin}} HUF --> {{munka.berMax}} HUF
                        {% endif %}
                    </span>
                </div>
                <div class="description">
                    <div class="contact"><!--Ez a div csak arra szolgál hogy könnyen megtudjam formázni az inputokat, de itt is description div-be rakom bele-->
                        <!-- Form hibák -->
                        {% if user.is_authenticated %}
                        {% if form.errors %}
                        <ul class="errors">
                            {% for error in form.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {% comment %} form generálás {% endcomment %}
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                            <div>
                                <label>{{field.label}}</label>
                                <br>
                                {{field}}
                            </div>
                            {% endfor %}
                            <input type="submit" value="Elküld"/>
                        </form>
                        {% else %}
                            <div>
                                <p>Ha nem vagy bejelentkezve akkor elég nehéz lesz jelezni! Gyorsan regisztrálj vagy lépja be a profilodba!</p>
                                <a class="hero-btn black-btn place-btn" href="{% url 'tesztRegisztral' %}">Regisztráció</a>
                                <a class="hero-btn black-btn place-btn" href="{% url 'bejelentkezes_auth' %}">Belépés</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

</section>

<!----Footer---->

<section class="footer" id="footer">
    <h4>Közösségi Platformjaink</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas officia, hic quibusdam mollitia praesentium ut, <br> aperiam aliquam obcaecati error unde labore doloribus necessitatibus quis, a eos iusto facere. Dolores, sapiente.</p>    
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
</section>

{% endblock %}