{% extends 'app/layout/commonhead0.html' %}
{% block content %}
{% load static %}
    <section class="sub-header">
        <nav>  
            <a href="index.html"><img src="{% static 'logo.png' %}" alt="logo" title="logo"></a>
            <div class="nav-links white" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{% url 'Kezdolap' %}">HOME</a></li>
                    <li><a href="{% url 'Rolunk' %}">RÓLUNK</a></li>
                    <li><a href="{% url 'Munkak' %}">ÁLLÁSOK</a></li>
                    {% comment %} <li><a href="contact.html">ELÉRHETŐSÉG</a></li> {% endcomment %}
                </ul>
            </div>
            <i class="fa fa-bars"  onclick="showMenu()"></i>
        </nav>
        <h1>Állások</h1>
    </section>

<!----jobs---->         

<section class="jobs">
    <h1>Több mint 1000+ állás</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipising elit.</p>
    
    <div class="row">
        <div class="jobs-col">
            <h3>Vendéglátás</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur reprehenderit at fugit accusantium, unde quaerat molestiae quisquam illo. Dolore nesciunt modi delectus facere harum suscipit non explicabo perspiciatis dignissimos culpa.</p>
        </div>
    </div>
    <div class="row">
        <div class="jobs-col">
            <h3>Kereskedelem</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur reprehenderit at fugit accusantium, unde quaerat molestiae quisquam illo. Dolore nesciunt modi delectus facere harum suscipit non explicabo perspiciatis dignissimos culpa.</p>
        </div>
    </div>
    <div class="row">
        <div class="jobs-col">
            <h3>Szállítás</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur reprehenderit at fugit accusantium, unde quaerat molestiae quisquam illo. Dolore nesciunt modi delectus facere harum suscipit non explicabo perspiciatis dignissimos culpa.</p>
        </div>
    </div>
</section>

<!----employers---->
<section class="employers">
    <h1>Amit a Munkáltatók Garantálnak</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipising elit.</p>
    <div class="row">
        <div class="employers-col">
            <img src="{% static 'library.jpg' %}" alt="Library" title="Library">
            <h3>Juttatások</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat enim necessitatibus laboriosam. Sed reprehenderit omnis voluptas, quos illum nobis cumque itaque hic ipsum non fugit in veritatis, cupiditate porro animi?</p>
        </div>
        <div class="employers-col">
            <img src="{% static 'basketball.jpg' %}" alt="Basketball" title="Basketball">
            <h3>Megbízhatóság</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat enim necessitatibus laboriosam. Sed reprehenderit omnis voluptas, quos illum nobis cumque itaque hic ipsum non fugit in veritatis, cupiditate porro animi?</p>
        </div>
        <div class="employers-col">
            <img src="{% static 'cafeteria.jpg' %}" alt="Cafeteria" title="Cafeteria">
            <h3>Külföldi Fizetések</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat enim necessitatibus laboriosam. Sed reprehenderit omnis voluptas, quos illum nobis cumque itaque hic ipsum non fugit in veritatis, cupiditate porro animi?</p>
        </div>
    </div>

</section>


<!----Footer---->

<section class="footer" id="footer">
    <h4>Közösségi Platformjaink</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas officia, hic quibusdam mollitia praesentium ut, <br> aperiam aliquam obcaecati error unde labore doloribus necessitatibus quis, a eos iusto facere. Dolores, sapiente.</p>    
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
</section>

{% endblock %}