{% extends 'app/layout/commonhead3.html' %}
{% block content %}
{% load static %}
    <section class="sub-header">
        <nav>  
            <a href="index.html"><img src="{% static 'logo.png' %}" alt="logo" title="logo"></a>
            <div class="nav-links white" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{% url 'Kezdolap' %}">HOME</a></li>
                    <li><a href="{% url 'Rolunk' %}">RÓLUNK</a></li>
                    <li><a href="{% url 'Munkak' %}">ÁLLÁSOK</a></li>
                    <li><a href="profilePage.html">PROFILOM<i class="fa-user fa-color"></i></a></li><!----Itt még a icon nem jeleníti meg, illetve a linket beállítottam a saját módszerem alapján----> 
                </ul>
            </div>
            <i class="fa fa-bars"  onclick="showMenu()"></i>
        </nav>
        <h1>Állások</h1>
    </section>

<!----Munkák---->         

<section class="jobs">
    <h1>Meghirdetett Állások</h1>
    <input type="text" id="myInput" placeholder="Keresés...">

    {% if allasok == "Hihetelen de nincs most aktív hirdetés!" %}
        <div class="row"><!----Ez egy sorba rendezi a 3 hírdetést----> 
            <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
                <h3>Hihetelen!</h3>
                <p>Sajnos nincs jelengleg egy aktív állásunk se!</p>
            </div>
        </div
    {% else %}
        <div class="row">
        {% for allas in allasok %}

                <div class="jobs-col">
                    <h3>{{allas.nev}}</h3>
                    <p>{{allas.leiras}}</p>
                    <button class="hero-btn black-btn place-btn">Érdekel</button>
                    <a class="hero-btn black-btn place-btn" href="{% url {{allas.id}} %}">Érdekel</a>
                </div>
        {% endfor %}
        </div>
    {% endif %}

    <div class="row"><!----Ez egy sorba rendezi a 3 hírdetést----> 
        <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
            <h3>SZIGET fesztivál</h3>
            <p>Információ pultos</p>
           <button class="hero-btn black-btn place-btn">Érdekel</button><!----classok a színekért és az animációért kellenek----> 
        </div>
        <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
            <h3>Alma szedés Nyíregyházán</h3>
            <p>Alma szedőket keresünk augusztusra</p>
            <button class="hero-btn black-btn place-btn">Érdekel</button>
        </div>
        <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
            <h3>Augusztus 20 Budapest</h3>
            <p>Deák téren aug. 20.-ra takarítókat keresünk</p>
            <button class="hero-btn black-btn place-btn">Érdekel</button>
        </div>
    </div>
    <div class="row"><!----Ez egy sorba rendezi a 3 hírdetést----> 
        <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
            <h3>BALATON SOUND</h3>
            <p>10 ital pultost keresünk</p>
           <button class="hero-btn black-btn place-btn">Érdekel</button><!----classok a színekért és az animációért kellenek----> 
        </div>
        <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
            <h3>Favágás Debrecenbe</h3>
            <p>Egy fiatal személyt keresek aki kivágja a kertemben a fákat</p>
            <button class="hero-btn black-btn place-btn">Érdekel</button>
        </div>
        <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
            <h3>Takarító</h3>
            <p>Havonta várok egy takarítót a házamhoz 2000Ft/óra bérért cserében</p>
            <button class="hero-btn black-btn place-btn">Érdekel</button>
        </div>
    </div>
    <div class="row"><!----Ez egy sorba rendezi a 3 hírdetést----> 
        <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
            <h3>Kutya etetése</h3>
            <p>Egy megbízható személyt keresek, aki a nyaralásom alatt gondozni tudja kutyusomat</p>
           <button class="hero-btn black-btn place-btn">Érdekel</button><!----classok a színekért és az animációért kellenek----> 
        </div>
    </div>
</section>
{% endblock %}