{% extends 'app/layout/commonhead1.html' %}
{% block content %}
{% load static %}
<!----Munkák---->         

<section class="jobs">
    <h1>Meghirdetett Állások</h1>
    <input type="text" id="myInput" placeholder="Keresés...">

    {% if allasok == "Hihetelen de nincs most aktív hirdetés!" %}
        <div class="row"><!----Ez egy sorba rendezi a 3 hírdetést----> 
            <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
                <h3>Hihetelen!</h3>
                <p>Sajnos nincs jelengleg egy aktív állásunk se!</p>
            </div>
        </div
    {% else %}
    {% for allas in allasok %}
    {% if forloop.counter0|divisibleby:3 %}
        <div class="row">
        {% endif %}
        <div class="jobs-col logedjob">
            <h3>{{allas.nev}}</h3>
            {% if allas.berMax is none %}
            <p>{{allas.berMin}}</p>
            {% else %}
            <p>{{allas.berMin}} --> {{allas.berMax}}</p>
            {% endif %}
            {% comment %} <p>{{allas.leiras}}</p> {% endcomment %}
            <a class="hero-btn black-btn place-btn" href="{% url "MunkaReszlet" allas.id %}">Érdekel</a>
        </div>
    {% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
</div>
{% endif %}
{% endfor %}
</div>
</div>
    {% endif %}

    <div class="row"><!----Ez egy sorba rendezi a 3 hírdetést----> 
        <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
            <h3>SZIGET fesztivál</h3>
            <p>Információ pultos</p>
            <button class="hero-btn black-btn place-btn">Érdekel</button><!----classok a színekért és az animációért kellenek----> 
        </div>
    </div>
</section>
{% endblock %}