{% extends 'app/layout/commonhead1.html' %}
{% block content %}
{% load static %}

<div class = "login-box">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Már be vagy jelentkezve! Nem kell erre az oldalra lépned!</p>
    {% else %}
    <p>Kérlek jelentkezz be hogy meg tudd tekinteni az oldalt!</p>
    {% endif %}
{% endif %}

<form method="post" class="form">
    <h2>Bejelentkezés</h2>
{% csrf_token %}
<div class="input-box">
    {{ form.username.label_tag }}
    {{ form.username }}
</div>
<div class="input-box">
    {{ form.password.label_tag }}
    {{ form.password }}
</div>
<div>
<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</div>
</form>

{# Assumes you set up the password_reset view in your URLconf #}
<p><a href="{% url 'jelszoHelyre_auth' %}">Lost password?</a></p>
</div>

{% endblock %}