{% extends 'app/layout/commonhead0.html' %}
{% block content %}
{% load static %}
    <section class="sub-header">
        <nav>  
            <a href="index.html"><img src="{% static 'logo.png' %}" alt="logo" title="logo"></a>
            <div class="nav-links white" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">RÓLUNK</li>
                    <li><a href="jobs.html">ÁLLÁSOK</a></li>
                    <li><a href="blog.html">BLOG</a></li>
                    <li><a href="contact.html">ELÉRHETŐSÉG</a></li>
                </ul>
            </div>
            <i class="fa fa-bars"  onclick="showMenu()"></i>
        </nav>
        <h1>Regisztrált felhasználóink</h1>
    </section>

<!----blog page content---->         

<section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <img src="{% static 'certificate.jpg' %}" alt="valami" title="valami">
            <h2>Regisztrált felhasználóink</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, culpa hic. Illo quasi eum alias numquam quibusdam asperiores fugit voluptates id, adipisci pariatur explicabo dolorem amet eveniet voluptatibus quaerat ad!</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, et! Dicta aspernatur ea eveniet! Minima ea quisquam distinctio cupiditate sit, veniam officiis maiores eum, nostrum fuga quod voluptate ratione culpa?</p>
            <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, dignissimos excepturi. Iure laboriosam odit totam ratione explicabo nostrum atque sint magni, consequuntur accusantium, voluptates, aperiam repellat harum voluptate cum deserunt!</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia id harum voluptatem sequi consequuntur sit facilis repudiandae esse neque, animi ea repellendus! Quos dolorem atque amet voluptate, beatae consequuntur aliquam.</p>
        
            <div class="comment-box">
                <h3>Bármi kérdése lenne írja le ide!</h3>
                <form class="comment-form">
                    <input type="text" placeholder="Adja meg a nevét">
                    <input type="email" placeholder="Adja meg az email címét">
                    <textarea rows="5" placeholder="Írja ide a kérdését"></textarea>
                    <button type="submit" class="hero-btn red-btn">KÉRDÉS ELKÜLDÉSE</button>
                </form>
            </div>
        
        
        </div>
        <div class="blog-right">
            <h3>TOP 3 választott alkalmi munka</h3>
            <div>
                <span>Ács</span>
                <span>50%</span>
            </div>
            <div>
                <span>Fesztivál munkák</span>
                <span>40%</span>
            </div>
            <div>
                <span>Kertész</span>
                <span>10%</span>
            </div>
        </div>
    </div>
</section>


<!----Footer---->

<section class="footer" id="footer">
    <h4>Közösségi Platformjaink</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas officia, hic quibusdam mollitia praesentium ut, <br> aperiam aliquam obcaecati error unde labore doloribus necessitatibus quis, a eos iusto facere. Dolores, sapiente.</p>    
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
</section>

{% endblock %}