{% comment %} Alap oldalakhoz (index, about, contact, jobapply, logedjobs, ?ujmunka?)
új head
{% endcomment %}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{cim}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
</head>

<body>
    <section class="header">
        <nav>  
            <a href="{% url 'Kezdolap' %}"><img src="{% static 'logo.png' %}" alt="logo" title="logo" class="logo"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{% url 'Kezdolap' %}">HOME</a></li>
                    <li><a href="{% url 'MunkaBemutato' %}">ÁLLÁSOK</a></li>
                    <li><a href="{% url 'Kapcsolat' %}">KAPCSOLAT</a></li>
                    <li><a href="{% url 'Rolunk' %}">RÓLUNK</a></li>
                    <li><a href="{% url 'Profil' %}">PROFILOM<i class="fa-user fa-color"></li></a></li>
                </ul>
            </div>
                <i class="fa fa-bars"  onclick="showMenu()"></i>
        </nav>
        <div class="text-box">
            <h1><span class="auto-type"></span></h1>
            <h1><span class="auto-type2"></span></h1>
            <p>Fiatal vagy és csak nyárra keresel munkát? Netán másodállást keresel fizetés kiegészítésnek? <br> Ezen az oldalon megtalálod!</p>
            <a href="{% url 'Regisztral' %}" class="hero-btn">Regisztráljon most</a>
        </div> 
    </section>
    {% block content %}
    {% endblock content %}
    {% load static%}
    <!----Footer---->

    <section class="footer" id="footer">
        <h4>Közösségi Platformjaink</h4>  
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
    </section>
    
<!----Javascript for toggle menu-->
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu()
    {
      navLinks.style.right = "0";  
    }
    function hideMenu()
    {
        navLinks.style.right = "-200px";
    }
    // Javasript for count
    const num=document.querySelectorAll(".num");
    const speed = 200;
    
    num.forEach((count) => {
        const animate= ()=> {
            const target= +count.getAttribute("num");
            const data= +count.innerText;

            const time = target / speed;
            
            if (data < target)
            {
                count.innerText=Math.ceil(data + time);
                setTimeout(animate,10)
            }
        }
        animate();
    })
    // Javascript for the h1

    var typed = new Typed(".auto-type", {
        strings:["Magyarország legnagyobb"],
        typeSpeed : 20,
    })
    
    var typed = new Typed(".auto-type2", {
        strings:["alkalmi állás keresője"],
        typeSpeed : 30,
    })
</script>

</body>
</html>