<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alkalomadtán</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="sub-header">
        <nav>  
            <a href="index.html"><img src="images/logo.png" alt="logo" title="logo"></a>
            <div class="nav-links white" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">RÓLUNK</a></li>
                    <li><a href="jobs.html">ÁLLÁSOK</a></li>
                    <li><a href="contact.html">ELÉRHETŐSÉG</a></li>
                    <li><a href="profilePage.html">PROFILOM<i class="fa-user fa-color"></i></a></li><!----Itt még a icon nem jeleníti meg, illetve
                                                                                                    a linket beállítottam a saját módszerem alapján----> 
                </ul>
            </div>
            <i class="fa fa-bars"  onclick="showMenu()"></i>
        </nav>
        <h1>Állások</h1>
    </section>

<!----Munkák---->         

<section class="jobs">
    <h1>Meghirdetett Állások</h1>
    <input type="text" id="myInput" placeholder="Keresés...">
    <div class="row"><!----Ez egy sorba rendezi a 3 hírdetést----> 
        <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
            <h3>SZIGET fesztivál</h3>
            <p>Információ pultos</p>
           <button class="hero-btn black-btn place-btn">Érdekel</button><!----classok a színekért és az animációért kellenek----> 
        </div>
        <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
            <h3>Alma szedés Nyíregyházán</h3>
            <p>Alma szedőket keresünk augusztusra</p>
            <button class="hero-btn black-btn place-btn">Érdekel</button>
        </div>
        <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
            <h3>Augusztus 20 Budapest</h3>
            <p>Deák téren aug. 20.-ra takarítókat keresünk</p>
            <button class="hero-btn black-btn place-btn">Érdekel</button>
        </div>
    </div>
    <div class="row"><!----Ez egy sorba rendezi a 3 hírdetést----> 
        <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
            <h3>BALATON SOUND</h3>
            <p>10 ital pultost keresünk</p>
           <button class="hero-btn black-btn place-btn">Érdekel</button><!----classok a színekért és az animációért kellenek----> 
        </div>
        <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
            <h3>Favágás Debrecenbe</h3>
            <p>Egy fiatal személyt keresek aki kivágja a kertemben a fákat</p>
            <button class="hero-btn black-btn place-btn">Érdekel</button>
        </div>
        <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
            <h3>Takarító</h3>
            <p>Havonta várok egy takarítót a házamhoz 2000Ft/óra bérért cserében</p>
            <button class="hero-btn black-btn place-btn">Érdekel</button>
        </div>
    </div>
    <div class="row"><!----Ez egy sorba rendezi a 3 hírdetést----> 
        <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
            <h3>Kutya etetése</h3>
            <p>Egy megbízható személyt keresek, aki a nyaralásom alatt gondozni tudja kutyusomat</p>
           <button class="hero-btn black-btn place-btn">Érdekel</button><!----classok a színekért és az animációért kellenek----> 
        </div>
    </div>
</section>

<!----Footer---->

<section class="footer" id="footer">
    <h4>Közösségi Platformjaink</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas officia, hic quibusdam mollitia praesentium ut, <br> aperiam aliquam obcaecati error unde labore doloribus necessitatibus quis, a eos iusto facere. Dolores, sapiente.</p>    
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
</section>

<!----Javascript for toggle menu-->
    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu()
        {
          navLinks.style.right = "0";  
        }
        function hideMenu()
        {
            navLinks.style.right = "-200px";
        }
    </script>

</body>
</html>