<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alkalomadtan</title>
    <link rel="stylesheet" href="style3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body> 
    <section class="header">
        <nav class="logo">
            <a href="index.html"><img src="images/logo.png" alt=""></a>
        </nav>
        <div class="container">
            <div id="asd">
                <h1 class="asd">asd</h1>
                <div class="CTA">
                    <h1>ÓRÁNKÉNT 3000Ft</h1>
                </div>
            </div>
            <div class="leftbox links">
                <nav>
                    <a href="profilePage.html">
                        <i class="fa fa-user"></i>
                    </a>
                    <a href="profilePageApplied.html">
                        <i class="fa fa-briefcase"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-plus-circle active"></i>
                    </a>
                    <a href="profilePageFile.html">
                        <i class="fa fa-file"></i>
                    </a>
                </nav>
            </div>
            <div class="rightbox">
                <div class="profile">
                    <h1>Meghirdetett Állásaim</h1>
                    <h2>Egyenlőre nem hirdettél meg semmilyen munkát...</h2>
                </div>
            </div>
            </div>
    </section>
    <!----Footer---->

    <section class="footer" id="footer">
        <h4>Közösségi Platformjaink</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas officia, hic quibusdam mollitia praesentium ut, <br> aperiam aliquam obcaecati error unde labore doloribus necessitatibus quis, a eos iusto facere. Dolores, sapiente.</p>    
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
    </section>
</body>
</html> 