{% load static %}

<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alkalomadtán</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section class="header">
        <nav> <a href="index.html"><img src="{% static 'logo.png' %}" alt="logo" title="logo"></a></nav>
        <div class="login-box">
            <div class="form">
                <h2>Bejelentkezés</h2>
                {% if user.is_authenticated %}
                    <p>Már be vagy jelentkezve! Nem kell erre az oldalra lépned!</p>
                {% else %}
                <form method="post">
                    {% csrf_token %}
                    <div class="input-box">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        <i></i>
                    </div>
                    <div class="input-box">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                        <i></i>
                    </div>
                    <div class="links">
                        <a href="{% url 'jelszoHelyre_auth' %}">Elfelejtett jelszó?</a>
                        <a href="{% url 'tesztRegisztral' %}">Regisztrálok</a>
                    </div>
                    <div>
                        <input type="submit" value="Bejelentkezek" class="hero-btn">
                    </div>
                </form>
                <p></p>
                {% endif %}
            </div>
        </div>
    </section>
   
    <section class="footer" id="footer">
        <h4>Közösségi Platformjaink</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas officia, hic quibusdam mollitia praesentium ut, <br> aperiam aliquam obcaecati error unde labore doloribus necessitatibus quis, a eos iusto facere. Dolores, sapiente.</p>    
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
    </section>
</body>
</html>