{% extends 'app/layout/commonhead2.html' %}
{% block content %}
{% load static %}
    <section class="header">
        <nav class="logo">
            <a href="index.html"><img src="images/logo.png" alt=""></a>
        </nav>
        <div class="container">
            <div id="asd">
                <h1 class="asd">asd</h1>
                <div class="CTA">
                    <h1>ÓRÁNKÉNT 3000Ft</h1>
                </div>
            </div>
            <div class="leftbox links">
                <nav>
                    <a href="#">
                        <i class="fa fa-user active"></i>
                    </a>
                    <a href="profilePageApplied.html">
                        <i class="fa fa-briefcase"></i>
                    </a>
                    <a href="profilePageAd.html">
                        <i class="fa fa-plus-circle"></i>
                    </a>
                    <a href="profilePageFile.html">
                        <i class="fa fa-file"></i>
                    </a>
                </nav>
            </div>
            <div class="rightbox">
                <div class="profile">
                    <h1>Személyes adatok</h1>
                    <h2>Felhasználó név</h2>
                    <p>{{felhasznalo.username}}</p>
                    <h2>Teljes név</h2>
                    <p>{{felhasznalo.first_name}} {{felhasznalo.last_name}}<button class="btn">Change</button></p>
                    <h2>Email</h2>
                    <p>{{felhasznalo.email}}<button class="btn">Change</button></p>
                    <h2>Jelszó</h2>
                    <p>*******<button class="btn">Change</button></p>
                </div>
            </div>
            </div>
    </section>
{% endblock %}