{% extends 'app/layout/commonhead2.html' %}
{% block content %}
{% load static %}

<body>
    <section class="header">
        <nav> <a href="index.html"><img src="{% static 'logo.png' %}" alt="logo" title="logo"></a></nav>
        <div class="register-box"><!----Ez a div felel az animációért, és helyezkedésért-->
            <div class="form"><!--ez ugye kitakarja az animáció felesleges részét ami szakmaibb dolog--->
                <h2>Regisztráció</h2>
                <form method="POST">
                {% csrf_token %}

                {% comment %} az űrlap hibái {% endcomment %}
                {% if form.errors %}
                <ul class="errors">
                    {% for hibak in form.errors %}
                        <li>{{ hibak }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                
                {% comment %} űrlap megjelenítése {% endcomment %}
                {% for mezo in form %}
                <div class="input-box"><!--Ez alapjártaon megint csak egy animáció miatt lett létrehozva-->
                    {{mezo}}
                    <span>{{mezo.label}}</span> 
                    <i></i>
                </div>
                {% endfor %}
                {% comment %} linkek {% endcomment %}
                <div class="links">
                    <a href="login.html">Már van fiókom</a><!--Ugye a link ami visszadob a bejelentkezés részhez-->
                </div>
                <div>
                    <input type="submit" value="Regisztrálok" class="hero-btn">
                </div>
            </form>
            </div>
        </div>
    </section>
    
    <section class="footer" id="footer">
        <h4>Közösségi Platformjaink</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas officia, hic quibusdam mollitia praesentium ut, <br> aperiam aliquam obcaecati error unde labore doloribus necessitatibus quis, a eos iusto facere. Dolores, sapiente.</p>    
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
    </section>

{% endblock %}