{% extends 'app/layout/commonhead1.html' %}
{% block content %}
<!-- regisztációs űrlap és munkavallalo -->
 {% if form and form1%}
 <!-- Form Errors -->
 {% if form.errors %}
     <ul class="errors">
         {% for error in form.errors %}
             <li>{{ error }}</li>
         {% endfor %}
     </ul>
 {% endif %}

 <!-- Display Form -->
 <form method="POST">
 {% csrf_token %}
 {% for field in form %}
     <div class="mydiv">
         <label class="mylabel">{{ field.label }}</label>
         {{ field }}
     </div>
 {% endfor %}
 
    {% csrf_token %}
    {% for field in form1 %}
        <div class="mydiv">
            <label class="mylabel">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
    {% endif %}
    <input type="submit" value="Regisztrálás" class="btn btn-primary">
    </form>

    {% endblock %}